body {
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, rgb(41, 128, 185), rgb(44, 62, 80));
  font-family: 'Roboto', sans-serif;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin-top: 2rem;
  margin: auto;
  background: rgba(240, 248, 255, 0.5);
  border-radius: .5rem;
  position: absolute;
  top: 80px;
}

h1 {
  color: rgb(46, 46, 46);
  margin: 1.5rem auto;
}

form {
  width: 100%;
  display: flex;
  margin-bottom: 1.5rem;
}


#text-input {
  font-size: 1.25rem;
  padding: .5rem;
  border-radius: .5rem;
  border: none;
  font-weight: 500;
  margin-right: auto;
}

#button {
  font-size: 1.25rem;
  padding: .5rem;
  border-radius: .5rem;
  border: none;
  background-color: rgb(43, 167, 43);
  color: white;
  font-weight: 400;
  margin-left: .5rem;
}

#tasks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 1.5rem;
}

ul {
  width: 100%;
  font-size: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul > li {
  width: 100%;
  font-size: 1.25rem;
  padding: 0;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  color: black;
  font-weight: 500;
  border-bottom: 1px solid gray;
  word-wrap: break-word;
}

li > input {
  width: 20px;
  height: 20px;
  margin: 0 .5rem 0 0;
}

li > label {
  margin-right: auto;
}

#button-list {
  padding: .25rem;
  margin-left: 1rem;
  border-radius: .5rem;
  border: none;
  background-color: rgb(255, 75, 75);
  color: white;
  font-weight: 300;
  text-align: end;
}

:checked + label {
  text-decoration: line-through;
}

@media (max-width: 375px) {
  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .list {
    width: 280px;
    margin: auto .5rem;
    padding: .5rem;
  }
  #text-input {
    width: 150px;
    font-size: 1rem;
    margin-right: 10px;
  }
  #button {
    margin: 0;
    font-size: 1rem;
  }
  li {
    max-width: 350px;
    overflow: scroll;
  }
}